<div class="flex bg-orange-100 flex-grow">
  <div class="flex flex-col justify-center items-center flex-grow">
    <div class="flex flex-col p-8 gap-8 shadow-lg rounded-lg bg-white md:min-w-[500px] my-8">
      <div>
        <h1 class="text-2xl font-bold mb-4"><%= t('auth.create_account') %></h1>
        <p class="text-gray-400"><%= t('booking.to_access_flight_booking') %></p>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "flex flex-col gap-8" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="relative">
          <%= f.email_field :email, autocomplete: "email", placeholder: " ", class: "block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" %>
          <%= f.label :email, class: "absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1" %>
        </div>

        <div>
          <div class="relative">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: " ", class: "block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" %>
            <%= f.label :password, t('auth.password'), class: "absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1" %>
          </div>
          <% if @minimum_password_length %>
            <em class="text-gray-500 text-sm">(<%= @minimum_password_length %> caractères minimum)</em>
          <% end %>
        </div>

        <div class="relative">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: " ", class: "block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" %>
          <%= f.label :password_confirmation, t('auth.password_confirmation'), class: "absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1" %>
        </div>

        <%= f.submit t('auth.sign_up'), class: "block cursor-pointer text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
      <% end %>

      <div class="flex flex-col gap-2">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
