<!DOCTYPE html>
<html lang="fr" class="h-full min-h-full">
  <head>
    <title>FlyghtClub</title>
    <link rel="icon" href="/logo2.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full min-h-full flex flex-col">
  <%= render "shared/menu" %>
  <%= yield %>
  <% if notice %>
    <%= render 'shared/snackbar',
               snackbar_message: notice %>
  <% end %>
  <%= javascript_include_tag 'snackbar' %>
  <%= javascript_include_tag 'password' %>
  </body>
</html>
