<!DOCTYPE html>
<html>
  <head>
    <title>FlyghtClub</title>
    <link rel="icon" href="/logo2.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render "shared/menu" %>
  <%= yield %>
  <% if notice %>
    <%= render 'shared/snackbar',
               snackbar_additional_classes: 'bg-green-100 text-green-700 border-green-700',
               snackbar_message: notice %>
  <% end %>
  </body>
</html>
